/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
*/



/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {

	.review .card {
    width: 100%;
    margin: auto;
	}
	.reserve .img{
		margin-bottom: 3rem;
	}
	.review .quote {
    position: absolute;
    font-size: 50px;
    margin-right: 10px;
    color: #9E9B96;
    left: 35px;
    top: 130px;
	}
	.contact p {
    font-size: .9rem;
    padding: 1px 93px;
}
	.about-Us,.opening{
		border-bottom: 0.0325rem solid #4e4e4e;
		
	}
	.location,.opening{
		padding-top: 2rem;
	}
	.reserve .img-fluid {
    max-width: 100%;
    height: auto;
	}
	.reserve input {
    height: 1.8rem;
    width: 12.25rem;
    padding: 5px 10px;
	}
	
}




/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	.header-section .heading {
    font-size: 3rem;
	}
	.header-section .butn-right {
    padding: 0.325rem 2.125rem;
	}
	.header-section .butn-left {
    padding: 0.325rem 2.125rem;
	}
	.review .card {
    width: 100%;
    margin: auto;
	}
	.reserve .img{
		margin-bottom: 3rem;
	}
	.contact p {
    font-size: .9rem;
    padding: 1px 140px;
	}
	.about-Us,.opening{
		border-bottom: 0.0325rem solid #4e4e4e;
		
	}
	.location,.opening{
		padding-top: 2rem;
	}
	.contact #divider{
		width: 160px;
	}
	.reserve .img-fluid {
    max-width: 100%;
    height: auto;
  }
}










/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (max-width: 485px) {
	.header-section img{
		display: block;
		width: 8rem;
		margin: 0 auto;
	}
	.header-section .heading {
    font-size: 2.2rem;
	}
	.header-section .butn-right {
    padding: 0.125rem 1.125rem;
	}
	.header-section .butn-left {
    padding: 0.125rem 1.125rem;
	}
	.review .quote {
    position: absolute;
    font-size: 50px;
    margin-right: 10px;
    color: #9E9B96;
    left: 23px;
    top: 130px;
	}
	.reserve input {
    height: 1.8rem;
    width: 7.3rem;
    padding: 5px 10px;
	}
	.contact p {
    font-size: .9rem;
    padding: 1px 19px;
	}
	.reserve .img-fluid {
    max-width: 100%;
    height: auto;
  }
	
}


/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
		.header-section .heading {
			font-size: 2.7rem;
		}
		.header-section .butn-right {
			padding: 0.125rem 1.125rem;
		}
		.header-section .butn-left {
			padding: 0.125rem 1.125rem;
		}
		.review .quote {
			position: absolute;
			font-size: 50px;
			margin-right: 10px;
			color: #9E9B96;
			left: 23px;
			top: 130px;
		}
		.reserve input {
			height: 1.8rem;
			width: 8.25rem;
			padding: 5px 10px;
		}
		.contact p {
			font-size: .9rem;
			padding: 1px 19px;
		}
	.reserve .img-fluid {
    max-width: 100%;
    height: auto;
  	}
	
	
}